global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode http

    option httplog
    option dontlognull

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:8080

    # Roteamento por path
    acl route_web1 path_reg ^/web1(/|$)
    acl route_web2 path_reg ^/web2(/|$)

    use_backend backend_web1 if route_web1
    use_backend backend_web2 if route_web2

    # Qualquer outra URL vai para o portal
    default_backend backend_portal

backend backend_portal
    balance roundrobin
    server portal portal-service.portal.svc.cluster.local:80 check

backend backend_web1
    balance roundrobin

    # Externo: /web1/
    # Interno: /
    http-request replace-path ^/web1/?(.*)$ /\1

    server web1 web1-service.web1.svc.cluster.local:80 check

backend backend_web2
    balance roundrobin

    # Externo: /web2/
    # Interno: /
    http-request replace-path ^/web2/?(.*)$ /\1

    server web2 web2-service.web2.svc.cluster.local:80 check
